/*Estilo del boton*/
.boton{
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: gainsboro;
}

/*Estilo del tablero*/
#frmTablero{
    text-align: center;
}

/*Estilo del titulo*/
#titulo{
    margin: 70 410px;
    height: 50px;
    color:red;
    font-family: 'Erica one', cursive;
    font-size: 80px;
    text-align: center;
    text-shadow: 
               0 1px 0 white,
               0 2px 0 white,
               0 3px 0 white,
               0 4px 0 white,
               0 5px 0 white,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px yellow;
}

/*Estilo de la pagina*/
body {
    background: grey
}
